* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}
:root{
    --font : 'Poppins',sans-serif;
    --btn-bg :#DA2535;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #DA2535; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #DA2535; 
  }
  a {
      text-decoration: none;
      color: black;
  }
  i:hover {
      cursor: pointer;
  }
body {
    background-color: #FEFBFB;
    font-family: var(--font);
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:50px;
    padding-bottom: 10px;
}
.main .header{
    height: 70px;
    background-color: #FEFBFB;
    width: 80vw;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.main .header .logo {
    font-size: 24px;
}
.main .header nav ul {
    display: flex;
    flex-direction: row;
    gap:40px;
}
.main .header nav {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .header nav ul li {
    height: 35px;
    text-align: center;
}
.main .u2 {
    display: none;
}
.main .u2 ol {
    display: none;
}
.main .header nav ul li:hover {
    color:var(--btn-bg);
    transition: 0.2s ease;
    cursor: pointer;
}
.main .header nav i {
    display: none;
}
.main .sec-1 {
    height: 500px;
    width: 70vw;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow:hidden ;
}
.main .sec-1 section {
    flex:1;
    height: 100%;
}
.main .sec-1 .left, .main .sec-2 .right {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap:15px;
}
.main .sec-1 .left h1, .main .sec-2 .right h1 {
    font-size:clamp(1rem,4rem,2.5rem);
    color: #161212;
}
.main .sec-1 .left h3, .main .sec-2 .right h3 {
    color:#5B5757;
    font-weight: 100;
    font-size:16px ;
}
.main .sec-1 .left button, .main .sec-2 .right button {
    height: 50px;
    width: 175px;
    border:none;
    font-family: var(--font);
    background-color: var(--btn-bg);
    color:white;
    border-radius: 5px;
}
.main .sec-1 .right {
    background-image: url(../assets/img/home.png);
    background-position:center ;
    background-size: 85%;
    background-repeat: no-repeat;
}
.main .sec-2 {
    height: 500px;
    width: 70vw;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow:hidden ;
}
.main .sec-2 .left {
   flex:3;
   height: 100%;
   background-image: url(../assets/img/shared.png);
   background-position:center ;
   background-size: 85%;
   background-repeat: no-repeat;
}
.main .sec-2 .right {
    flex:2;
    height: 100%;
    display: flex;
}
.btn {
    position: fixed;
    bottom:30px;
    right:30px;
    height:40px;
    width: 40px;
    border-radius: 50px;
    border:none;
    background-color: var(--btn-bg);
    color:white;
    font-weight: 800;
    display: none;
    z-index: 20;
}
.main .sec-3 {
    height: auto;
    width: 80vw;
    max-width: 1000px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow:hidden ;
    padding-bottom:50px;
}
.main .sec-3 h2 {
    font-weight: 600;
}
.main .sec-3 ul {
    height: auto;
    width:100%;
    margin:0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    flex-wrap: wrap;
    padding-top:5px;
    padding-bottom:5px;
}
.main .sec-3 ul li {
    height: 300px;
    padding:30px;
    width:250px;
    box-shadow: 0 2px 6px rgb(65 11 16 / 15%);
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;
}
.main .sec-3 ul li img {
    height: 200px;
    width: 200px;
}
.main .sec-3 ul li p {
    font-size: 18px;
}
.main .sec-3 ul li span {
    color: var(--btn-bg);
}
.btn:hover {
    cursor: pointer;
}
.main .sec-4 {
    height: auto;
    width: 80vw;
    max-width: 1000px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow:hidden ;
    padding-bottom:50px;
}
.main .sec-4 ul {
    width:80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:20px;
    padding-top:5px;
    padding-bottom: 5px;
    overflow:hidden;
}
.main .sec-4 ul li {
    height: auto;
    width: 250px;
    box-shadow: 0 2px 6px rgb(65 11 16 / 15%);
    border-radius: 20px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap:5px;
    padding-top:20px;
    padding-bottom: 20px;
}
.main .sec-4 ul li img {
    height: 150px;
    width: 150px;
}
.main .sec-4 ul li:hover {
    transition: 0.2s ease;
    transform:scale(1.02);
}
.main .sec-5 {
    height: 350px;
    width:70vw;
    display: flex;
    max-width: 1000px;
    background-color: #DE3B49;
    border-radius: 35px;
    overflow:hidden;
    padding:20px;
}
.main .sec-5 section {
    flex:1;
    height: 100%;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items:flex-start;
}
.main .sec-5 .right {
    background-image: url(../assets/img/send.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.main .sec-5 .left {
    flex-direction: column;
    gap:25px;
    color: #fff;
}
.main .sec-5 .left .box {
    height: 65px;
    width: 80%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
}
.main .sec-5 .left .box input {
    font-family: var(--font);
    font-weight: 100;
    width: 70%;
    border:none;
    font-size: 16px;
    outline: none;
}
.main .sec-5 .left .box button {
    width: 100px;
    border:none;
    height:60px;
    border-radius: 5px;
    background-color: #DE3B49;
    color: #fff;
    font-family: var(--font);
}
.main .sec-5 .left h1 {
    font-size: 32px;
}
.main .sec-5 .left span  {
    width: 80%;
}
button:hover {
    cursor: pointer;
}
.footer {
    height: auto;
    width: 80vw;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    overflow:hidden;
    padding:10px;
    flex-wrap: wrap;
    gap:10px;
    justify-content: center;
    align-items: flex-start;
    font-family: var(--font);
    padding-bottom: 50px;
}
.footer div, .footer ul {
    width: 23%;
    height:100%;
}
.footer ul {
    display: flex;
    flex-direction: column;
}
.footer ul li {
    font-size: 16px;
    height: 35px;
}
.footer .social i {
    background-color: black;
    color: #fff;
    padding:10px;
    font-size: 24px;
    border-radius: 40px;
}
.footer .social i:hover {
    transition: 1s ease;
    transform: rotateY(180deg);
    cursor: pointer;
}

@media (max-width:950px) {
    .main {
        gap:75px;
    }
    .main .header nav ul {
        display: none;
    }
    .main .u2 {
        height: 100vh;
        width: 100vw;
        background-color: rgba(231,16,29,1);
        position: fixed;
        top:0;
        z-index: 21;
        display: none;
    }
    .main .u2 ol {
        display: flex !important;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap:25px;
        height:100vh;
    }
    .main .u2 ol i {
        position: absolute;
        right:20px;
        top:20px;
        color:white;
        font-size: 26px;
    }
    .main .u2 ol li,  .main .u2 ol a {
        color:white !important;
        font-size: 22px;
    }
    .main .header nav i {
        display: block;
        position: absolute;
        font-size: 24px;
        right:45px;
    }
    
    .main .sec-1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        width: 90vw;
    }
    .main .sec-1 section {
        flex:1;
        width: 100%;
        height: 100%;
    }
    .main .sec-1 .right , .main .sec-2 .left{
        background-size: contain;
    }
    .main .sec-1 .left h1, .main .sec-2 .right h1 {
        font-size:32px;
    }
    .main .sec-1 .left button, .main .sec-2 .right button {
        height: 40px;
        width: 150px;
    }
    .main .sec-2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        width: 90vw;
        height:700px;
    }
    .main .sec-2 .left {
        width: 100%;
    }
    .main .sec-2 .right {
        width: 100%;
        text-align: center;
        align-items: center;
    }
    .main .sec-3 {
        width: 90vw;
    }
    .main .sec-4 ul {
        width: 90%;
        overflow:hidden;
    }
    .main .sec-4 ul li {
        width: 250px;
        height: 300px;
    }
    .main .sec-4 ul li img {
        height: 150px;
        width: 150px;
    }
    .main .sec-5 {
        width: 100%;
        border-radius: 0;
        display: flex;
        height: 700px;
        flex-direction: column;
    }
    .main .sec-5 .left  {
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .footer {
        display: flex;
        flex-direction:column;
        height: auto;
        width: 90%;
    }
    .footer div, .footer ul {
        width: 100%;
        height: auto;
        padding-bottom: 15px;
    }
}

/* for galaxy fold and others */
@media (max-width:370px) {
    .main .sec-1 .left h1,  .main .sec-2 .right h1 {
        font-size: 24px;
    }
    .main .sec-1 .left h3 {
        font-size:16px;
    }
    .main {
        gap:75px;
    }
    .main .sec-3 h2 {
        font-size:18px;
        width: 100%;
    }
}